.header {
  background-color: rgb(254, 247, 238);  
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  justify-content: space-between;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
  border-bottom-width: 1px;
  border-color: gray;
  border-bottom-style: solid;
  box-shadow: 7px 7px 10px rgba(0,0,0,0.05);
}

.left-section {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-right: 10px;
    height: 60px;
    background-color: rgb(254, 247, 238);
    flex-shrink: 0;
    justify-content: space-around;
}

.portfolio {
    display: flex;
    color: #495159;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
}

.session {
    display: flex;
    color: #495159;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
}

.condition,
.condition-decoration {
    display: flex;
    color: #495159;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 4px #c9c9c9;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.condition:hover,
.condition-decoration:hover {
  color: #259e7c;
  text-shadow: 2px 2px 4px #B6D1CA;
}

.middle-section {
    display: flex;
    flex-shrink: 0; 
    justify-content: space-around;
}

.right-section {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    height: 60px;
    background-color: rgb(254, 247, 238);
    justify-content: space-around;
}

.about-us,
.about-us-decoration {
  display: flex;
  color: #495159;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 2px 2px 4px #c9c9c9;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.about-us:hover,
.about-us-decoration:hover {
  color: #259e7c;
  text-shadow: 2px 2px 4px #B6D1CA;
}

.contact,
.contact-decoration {
  display: flex;
  color: #495159;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 2px 2px 4px #c9c9c9;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.contact:hover,
.contact-decoration:hover {
  color: #259e7c;
  text-shadow: 2px 2px 4px #B6D1CA;
}

.logo-instagram,
.logo-tiktok,
.logo-register {
    display: flex;
    color: #495159;
    z-index: 1;
    font-size: 25px;
}

.logo-register{
  font-size: 28px;
}

.icons {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    align-items: center;
    cursor: pointer;
}

.logo-instagram:hover,
.logo-tiktok:hover,
.logo-register:hover {
  color: #259e7c;
}

.logo,
.logo-decoration {
    display: flex;
    flex:1;
    font-family: Rubik Glitch Pop;
    color: #495159;
    text-shadow: 2px 2px 4px #c9c9c9;
    font-size: 60px;
    margin: -3px;
    cursor: pointer;
    text-decoration: none;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgb(254, 247, 238);
    color: #495159;
    text-shadow: 2px 2px 4px #c9c9c9;
    font-family: Times New Roman;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 252, 245);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #495159;
    text-shadow: 2px 2px 4px #c9c9c9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(254, 247, 238); 
    color: #259e7c;
    text-shadow: 2px 2px 4px #B6D1CA;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    color:#259e7c;
    text-shadow: 2px 2px 4px #B6D1CA;
  }

  .dropbtn2 {
    background-color: rgb(254, 247, 238);
    color: #495159;
    text-shadow: 2px 2px 4px #c9c9c9;
    font-family: Times New Roman;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    border: none;
  }
  
  .dropdown2 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: rgb(255, 252, 245);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: 1;
  }
  
  .dropdown-content2 a {
    color: #495159;
    text-shadow: 2px 2px 4px #c9c9c9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content2 a:hover {
    background-color: rgb(254, 247, 238);
    color: #259e7c;
    text-shadow: 2px 2px 4px #B6D1CA;
  }
  
  .dropdown2:hover .dropdown-content2 {
    display: block;
  }
  
  .dropdown2:hover .dropbtn2 {
    color: #259e7c;
    text-shadow: 2px 2px 4px #B6D1CA;
  }

@media (max-width: 1280px) {
  .header {
      height: auto;
      padding: 10px 20px;
      flex-direction: row;
  }

  .portfolio, 
  .session, 
  .condition, 
  .condition-decoration, 
  .about-us, 
  .about-us-decoration
  .contact,
  .contact-decoration {
      font-size: 14px;
      text-align: center;
      margin: 0 10px;
  }

  .logo {
      font-size: 30px;
      text-align: center;
  }

  .icons {
      gap: 15px;
      justify-content: center;
      margin-left: 10px;
  }

  .dropbtn, 
  .dropbtn2 {
      font-size: 14px;
      padding: 6px 12px;
  }

  .logo-register {
    font-size: 15px;
  }

  .logo-instagram,
  .logo-tiktok {
    font-size: 15px;
  }

  .dropdown-content {
    font-size: 15px;
  }

  .dropdown-content2 {
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  .header {
      height: auto;
      padding: -20px -25px;
      flex-direction: row;
  }

  .portfolio, 
  .session, 
  .contact, 
  .contact-decoration, 
  .condition, 
  .condition-decoration, 
  .about-us,
  .about-us-decoration {
      font-size: 12px;
      text-align: center;
      margin: 0 8px;
  }

  .logo,
  .logo-decoration {
      font-size: 28px;
      text-align: center;
      justify-content: center;
      margin-top: -5px;
  }

  .icons {
      gap: 12px;
      justify-content: center;
      margin-left: 8px;
  }

  .dropbtn, 
  .dropbtn2 {
      font-size: 12px;
      padding: 5px 10px;
  }

  .logo-register {
    font-size: 15px;
  }

  .logo-instagram,
  .logo-tiktok {
    font-size: 15px;
  }

  .dropdown-content {
    font-size: 12px;
  }

  .dropdown-content2 {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .header {
      height: auto;
      margin: -20px -20px;
      flex-direction:column;
  }

  .portfolio, 
  .session, 
  .condition, 
  .condition-decoration, 
  .about-us,
  .about-us-decoration,
  .contact,
  .contact-decoration {
      font-size: 10px;
      text-align: center;
      margin: 0 5px;
  }

  .logo,
  .logo-decoration {
      font-size: 25px;
      text-align: center;
  }

  .icons {
      gap: 10px;
      justify-content: center;
      margin-left: 5px;
  }

  .dropbtn, 
  .dropbtn2 {
      font-size: 10px;
      padding: 4px 8px;
      margin-bottom: 20px;
  }

  .logo-register {
    font-size: 15px;
  }

  .logo-instagram,
  .logo-tiktok {
    font-size: 15px;
  }

  .dropdown-content {
    font-size: 10px;
  }

  .dropdown-content2 {
    font-size: 10px;
  }
}