/* Общи стилове */
.footer {
    background-color: rgb(254, 247, 238);  
    height: 380px;
    margin-left: -0.75cap;
    margin-right: -0.75cap;  
    bottom: 0;
    border-top-width: 1px;
    border-color: gray;
    border-top-style: solid;
    box-shadow: -10px -7px 7px rgba(0,0,0,0.05);
}

.footer-inside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 14px;
    font-family: Rubik, Glitch Pop;
    margin-top: 20px;
}

.footer-left-title,
.footer-center-title,
.footer-right-title {
    display: grid;
    justify-content: center;
    color: #495159;
    letter-spacing: 4px;
    margin-bottom: 2px;
}

.footer-section1-text {
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 15px;
    color: #26292b;
    font-family: 'Times New Roman', Times, serif;
}

.footer-input {
    width: 360px;
    height: 40px;
    margin-left: 55px;
    margin-top: 10px;
    background: #ebebeb;
    box-shadow: 7px 7px 10px rgba(0,0,0,0.05);
    border: none;
    border-radius: 4px;
}

.footer-icons{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 20px;
}

.logo-instagram-footer,
.logo-tiktok-footer {
    color: #151515;
    font-size: 22px;
}

.footer-bottom-icons {
    display: flex;
    justify-content: left;
    padding-left: 15px;
    margin-top: 10px;
    gap: 10px;
}

.logo-instagram-footer-bottom,
.logo-tiktok-footer-bottom {
    color: #000000;
    font-size: 15px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}

.logo-instagram-footer:hover,
.logo-tiktok-footer:hover,
.logo-instagram-footer-bottom:hover,
.logo-tiktok-footer-bottom:hover {
    color: #259e7c;
}

.footer-bottom-text {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 16px;
    margin-top: -8px;
}

.policy,
.general-terms {
    color:#000000;
    text-decoration: none;
}

.policy:hover,
.general-terms:hover {
    color: #259e7c;
}

@media (max-width: 768px) {
    .footer-inside {
        flex-direction: column;
        align-items: center;
    }

    .footer-input {
        width: 70%;
        margin-left: 20px;
        padding-left: 15px;
    }

    .footer-icons {
        gap: 15px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-left: 20px;
    }

    .footer-bottom-text {
        font-size: 10px;
        margin-top: -10;
    }
}