body {
    background-color: rgb(255, 252, 245);
    margin-top: 40px;
    padding: 0;
    height: 0px;
}

.body-conditions {
    background-color: rgb(255, 252, 245);
    margin-top: 40px;
    height: auto;
}

.body-contact {
    background-color: rgb(255, 252, 245);
    margin-top: 87px;
    height: auto;
}

.button-submit {
    width: 12px;
    height: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: -30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    color: #333;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.button-submit:hover {
    color: #259e7c;
    transform: scale(1);
}  

@media (max-width: 1024px) {
    body, 
    .body-conditions, 
    .body-contact {
        margin-top: 20px;
    }

    .body-conditions, 
    .body-contact {
        height: auto;
    }
}

@media (max-width: 768px) {
    body, 
    .body-conditions, 
    .body-contact {
        margin-top: 15px;
    }

    .body-conditions, 
    .body-contact {
        height: auto;
    }
}