.basis {
    display: flex;
    flex-direction: column;
}

.title {
    color: #495159;
    font-family: Rubik Glitch Pop;
    font-size: 45px;
    text-align: center;
}

.myself {
    padding-left: 75px;
    font-size: 20px;
    line-height: 23px;
    padding-right: 45px;
}

.main-photo {
    display: flex;
    float: left;
    height: 360px;
    margin-bottom: 7px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-right: 25px;
}

.paragraph {
    display: flex;
    flex-direction: column;
    width: 1000px;
}
.sentence1 {
    display: flex;
    font-size: 18px;
    line-height: 23px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sentence2 {
    display: flex;
    font-size: 18px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 10px;
}

.sentence3 {
    display: flex;
    font-size: 18px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 10px;
}

.sentence4 {
    display: flex;
    font-size: 18px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 10px;
}

.sentence5 {
    display: flex;
    font-size: 18px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 10px;
}

.sentence6 {
    display: flex;
    font-size: 18px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 10px;
}