body {
    background-color: rgb(255, 252, 245);
    height: 1620px;
    margin-top: 40px;
} 

.body-conditions {
    background-color: rgb(255, 252, 245);
    height: 1320px;
    margin-top: 40px;
}

.body-contact {
    background-color: rgb(255, 252, 245);
    height: 1220px;
    margin-top: 87px;
}