.form-container {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    background-color: rgb(255, 252, 245);
}
  
form label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}
  
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
}
  
form textarea {
    resize: vertical;
}
  
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
  
.checkbox-group label {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    color: #333;
}
  
.agreement {
    display: block;
    margin-top: 15px;
    font-size: 18px;
}
  
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
  
button[type="submit"]:hover {
    background-color: #555;
}

.text-container-contact{
    font-size: 16px;
    padding-left: 30px;
    padding-bottom: 60px;
}

.address-decoration {
    color: #259e7c;
    text-decoration: none;
}