@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.basis-login {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.header-login {
    background-color: rgb(254, 247, 238);  
    color: white;
    display: flex;
    justify-content: center;
    height: 60px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-bottom-width: 1px;
    border-color: gray;
    border-bottom-style: solid;
    box-shadow: 7px 7px 10px rgba(0,0,0,0.05);
  }

  .logo,
  .logo-decoration {
      display: block;
      justify-content: center;
      font-family: Rubik Glitch Pop;
      color: #495159;
      text-shadow: 2px 2px 4px #c9c9c9;
      font-size: 60px;
      margin: -3px;
      cursor: pointer;
      text-decoration: none;
  }

.text-login {
    justify-content: center;
    padding-top: 20px;
}

.text1 {
    font-size: 36px;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.promo {
    text-decoration: none;
    color: black;
}

.text2 {
    font-size: x-large;
    display: flex;
    justify-content: center;
}

.text3 {
    font-size: large;
    display: flex;
    justify-content: center;
}

.logout {
    padding-left: 5px;
    text-decoration: none;
    color: #259e7c;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .logo, .logo-decoration {
        font-size: 50px;
        padding-top: 5px;
    }

    .text1 {
        font-size: 30px;
        margin-top: 25px;
    }

    .text2 {
        font-size: large;
    }

    .text3 {
        font-size: medium;
    }
}

@media (max-width: 768px) {
    .logo, .logo-decoration {
        font-size: 40px;
        padding-top: 5px;
    }

    .text1 {
        font-size: 24px;
        margin-top: 25px;
    }

    .text2 {
        font-size: medium;
    }

    .text3 {
        font-size: small;
    }

    .basis-login {
        padding: 10px;
    }
}